<!DOCTYPE html>
<html lang="en" xmlns:link="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Dynamic data page</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
    <body>
        <h1>Страница с динамической базой данных</h1>
        <p>Нажмите кнопки для получения данных</p>
        <button class="btn-primary" id="btn-do-greeting">Приветствие</button>
        <button class="btn-success" id="btn-get-data-profile">Данные профиля</button>
        <button class="btn-stats" id="btn-get-stats">Статистика</button>
        <button class="btn-clear" id="btn-do-clear">Очистить</button>
        <div id="message">...Здесь будут данные...</div>
    </body>
<script src="./static/script.js" defer>
</script>
</html>